@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes typing {

    from {
        width: 0;
    }
    to {
        width: 54%;
    }
}

.animate-typing {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid;
    animation: typing 4s steps(30, end) forwards;
}


@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@media (min-width: 1024px) {
    .animate-typing {
        animation: typing 4s steps(30, end) forwards;
        width: 54%;
    }
}


@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-slide-in {
    animation: slideIn 1s ease-out;
}



.fade-in {
    animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
